screen-tablet = 769px
screen-desktop = 1088px
screen-widescreen = 1280px
screen-fullhd = 1472px
screen-onek = 1700px


body
    background-color: transparent
body:before
    content: ''
    position: fixed
    z-index: -1
    top: 0
    right: 0
    bottom: 0
    left: 0
    // transition: opacity 1s
    background: url("https://img.laoyuyu.me/img/blog-bg.webp?imageView2/0/format/webp/q/75%7Cwatermark/2/text/bGFveXV5dS5tZQ==/font/5a6L5L2T/fontsize/500/fill/IzRFODVEQg==/dissolve/100/gravity/SouthEast/dx/10/dy/10") no-repeat;
    background-size: 100% 100%; // 背景属性的设置必须要在资源设置之后


// 左侧栏重新设置一下大小
@media screen and (min-width: screen-onek)
    .container
        max-width: 1600px
        width: 1600px
        .column.is-3-widescreen
            width: 22%
        .column.is-6-widescreen
            width: 56%

@media screen and (min-width: screen-tablet)
    .column-main,
    .column-left,
    .column-right,
    .column-right-shadow
        &.is-sticky
            top: 70px
    .navbar
        z-index: 100
        position: sticky
        top: 0

// 文章样式
article.article
    .article-meta
        overflow-y: hidden
    .title
        width: fit-content
    // 设置文章图片居中
    img
        margin: auto
        display: block
        max-height: 800px